<div ng-controller="CartController">
  <div class="row">
    <div class="col-sm-8">
      <h1>Your shopping cart</h1>
    </div>
    <div class="col-sm-4">
      Total: {{ vm.getCartTotal() / 100 | currency }}
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Product</td>
        <td>Quantity</td>
        <td>Sub-total</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.cart">
        <td>
          <img ng-src="{{ item.item.imageUrl }}" alt="">
          <h3>{{ item.item.name }}</h3>
          <br>
          <strong>Ingredients:</strong> {{ item.item.ingredients }}
          <br>
          <strong>Categories:</strong> {{ item.item.categories.join(', ') }}
        </td>
        <td>
          <input class="form-control" type="number" id="quantity" ng-model="item.quantity" min="0">
        </td>
        <td>{{ (item.quantity * item.item.price)/100 | currency }}</td>
        <td>
          <button class="btn btn-danger" ng-click="vm.removeItem($index)">x</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
