<div ng-controller="ItemsController">
  <!-- Items search and filter controls -->
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="search">Search</label>
            <input id="searchVal" type="text" ng-model="items.searchVal">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="categoryFilter">Filter</label>
            <select name="categoryFilter" id="categoryFilter">
              <!-- <option value="cateogory.title"
                ng-repeat="category in categories">{{ category.title }}</option> -->
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Items Table -->
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Tea</td>
            <td>Information</td>
            <td>Sort by</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.items">
            <td>
              <img alt="" ng-src="{{item.imageUrl}}" />
            </td>
            <td>
              {{ item.name }}
              {{ item.ingredients }}
            </td>
            <td>
              <button class="btn btn-primary" ng-click="addToCart()">Add to Cart</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
